[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"
marko = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
mypy = "*"
flake8 = "*"
setuptools = "*"
marko = {path = "lib/marko", editable = true}

[requires]
python_version = "3.8"

